body {
	background-color: #123;
}

#main_container {
	/* font properties*/
	font-family: 'ArialMT', 'Arial', sans-serif;
	font-size: 15px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	color: #FFFFDB;
	/* style properties*/
	background-color: #0A0A30;
	/* width: 700px; */
	margin: 35px auto;
	padding: 20px;
	width: 400px;
}
