<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Unicode Char Selector</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="main_container">
<h1 id="page_title">Unicode Char Selector</h1>
<p><a href="http://github.com/pklaus/Unicode-Char-Selector">...get more information at Github.com</a></p>
<p id="made-by"><img src="images/about_swirl_exported.png" width="154" height="14" /><br /><br />
<span class="small">made by</span><br />
  Philipp Klaus</p>{{ content }}</div>
</body>
</html>